body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-top: 50px;
  padding-left: 400px;
}

ul li {
  float: left;
  margin: 20px;
}

ul li a {
  text-decoration: none;
  color: white;
  display: block;
  margin-left: 10px;
}

ul li a:hover {
  transform: scale(1.3);
  transition: 0.5s;
  color: black;
}

ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #faebd7;
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

ul li a:hover:before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
  border-radius: 20px;
}

h3 {
  float: left;
  padding-top: 25px;
  padding-left: 150px;
  font-size: 30px;
}

header {
  width: 80%;
  height: 100px;
  margin-left: 9%;
  background-color: rgb(216, 49, 49);
  color: white;
  border-radius: 50px;
  position: sticky;
  top: 0;
  z-index: 4;
}

#DiePassendeUni {
  margin-top: 5%;
  margin-left: 13%;
  color: rgb(255, 255, 255);
  background-color: rgb(216, 49, 49);
  border-radius: 5px;
  width: 70%;
  height: 70px;
  position: absolute;
  z-index: 3;
  text-align: center;
}

#firstHeading {
  border: inherit;
  font-weight: normal;
  font-size: 27px;
}

#Filter {
  margin-top: 8%;
  width: 100%;
  height: 200px;
  z-index: -3;
  background-color: black;
  opacity: 0.7;
}

#stAbschnittOption {
  margin-left: 100px;
}

#filterText {
  color: white;
  background-color: rgb(216, 49, 49);

  width: 70px;
  height: 30px;
  position: absolute;
  font-weight: normal;
  border-radius: 5px;
  margin-top: 170px;
  margin-left: 17%;
  z-index: 3;
  text-align: center;
}

#modulContainer {
  width: 65%;
  height: 1000px;
  background-color: #faebd7;
  margin-left: 15%;
  margin-top: -2%;
  position: absolute;
  z-index: 3;
}

#button1 {
  display: block;
  width: 100px;
  height: 30px;
  background-color: rgb(216, 49, 49);
  margin-left: 50%;
  font-size: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

#button1:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.tags-input {
  border: 1px solid black;
  display: inline-block;
}

.tags-input .tag {
  font-size: 85%;
  padding: 0.5em 0.75em;
  margin: 0.25em 0.1em;
  display: inline-block;
  background-color: #ddd;
  transition: all 0.1s linear;
  cursor: pointer;
}

.tags-input .tag:hover {
  background-color: #3af;
  color: white;
}

.tags-input .tag .close::after {
  content: "*";
  font-weight: bold;
  display: inline-block;
  transform: scale(1.4);
  margin-left: 0.75em;
}

.tags-input .tag .close:hover::after {
  color: red;
}

.tags-input .main-input {
  border: 0px;
  outline: 0;
  padding: 0.5em 0.1em;
}

footer {
  width: 100%;
  height: 200px;
  background-color: rgb(216, 49, 49);
  margin-top: 950px;
}

#sidePic {
  margin-top: -1100px;
  margin-left: 1%;

  width: 200px;
  height: 840px;
  position: absolute;
  background: url(../HintergrundBilder/europa.jpg);
  background-size: cover;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.705);
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 500px;
  height: 700px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.button {
  color: white;
  text-decoration: none;
}

#buttonDiv {
  width: 130px;
  height: 30px;
  background-color: rgb(216, 49, 49);

  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  margin-left: 37%;
  margin-top: 40px;
}

#buttonDiv:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.inputFenster {
  margin-top: 250px;
}

input {
  padding-top: 15px;
  width: 50%;
  display: block;
  margin: 20px auto;
  border-radius: 20px 0 0 20px;
  padding: 0;
  outline: none;
  height: 31px;
  line-height: 100px;
}

.delete {
  position: absolute;
  right: 100px;
  background-color: rgb(216, 49, 49);
  margin-top: -55px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.delete:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.deleteKreuz {
  transform: rotate(45deg);
  color: white;
  display: block;
  margin: 8px;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 35px;
  transform: rotate(45deg);
  cursor: pointer;
}
